footer.footer
  .footer__text coach.marathon2018@gmail.com

  .footer__socials
    a.footer__social.footer__social--vk(href='#!')
    a.footer__social.footer__social--fb(href='#!')
    a.footer__social.footer__social--ig(href='#!')