doctype html
html(lang='ru' dir='ltr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sofia

    link(href='styles/libs.min.css' rel='stylesheet')
    link(href='styles/main.css' rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:700|PT+Sans:400,700|Roboto+Slab&amp;subset=cyrillic' rel='stylesheet')

  body
    include var.pug
    include mixins.pug