-
  var vfor = [
    'Ты много работаешь, но не радует либо сама работа, либо ее результаты.',
    'Хочется ярких взаимных эмоций,  но в данный момент ты либо одна, либо не с тем, либо нужно что-то менять.',
    'Ты чувствуешь, что способна на большее, но что-то постоянно тебе мешает.',
    'Ты мечтаешь о любимом деле и гармоничных отношениях, но не знаешь как их обрести.'
  ]