-
  var vfor = [
    'Ты много работаешь, но не радует либо сама работа, либо ее результаты.',
    'Хочется ярких взаимных эмоций,  но в данный момент ты либо одна, либо не с тем, либо нужно что-то менять.',
    'Ты чувствуешь, что способна на большее, но что-то постоянно тебе мешает.',
    'Ты мечтаешь о любимом деле и гармоничных отношениях, но не знаешь как их обрести.'
  ]

  var after = [
    'Расширишь понимание себя, своих возможностей и талантов',
    'Осознаешь свои внутренние ресурсы и начнешь их использовать в работе и личной жизни',
    'Разберешься с ограничивающими убеждениями, которые тебя тормозят на жизненном пути',
    'Избавишься от страхов и обретешь уверенность',
    'Обретешь мотивацию и энергию для  достижения истинной цели',
    'Получишь заряд для твоей самореализации на существующей работе или осознаешь сферу, в которой хочешь развиваться',
    'Научишься любить себя, станешь гармоничной для привлечения правильных людей в свою жизнь',
    'Станешь лучшей версией себя и начнешь создавать жизнь, о которой давно мечтала'
  ]

  var coachUl = [
    'Индивидуальный (лайф) коучинг',
    'Бизнес и executive коучинг',
    'Трансформационный коучинг',
    'Дизайн человека',
    'Бизнес-тренинги и развитие персонала',
    'Индивидуальное консультирование',
    'Энергетическая работа'
  ]

  var coachList = [
    'Реализовывать теорию на практике',
    'Синтезировать ваши личностные особенности и внутренние ресурсы во внешнюю среду',
    'Выявлять эти самые ресурсы и находить источники поддержания экологичного и ресурсного состояния',
    'Усиливать существующие эффективные ресурсы в вашей жизни и работе'
  ]