@import 'inc/var.sss'
@import 'inc/mixin.sss'
@import 'inc/reset.css'
@import 'inc/typo.sss'
@import 'inc/btn.sss'
@import 'inc/grid.sss'

@import 'blocks/hero.sss'
@import 'blocks/for.sss'
@import 'blocks/after.sss'
@import 'blocks/coach.sss'
@import 'blocks/program.sss'
@import 'blocks/plans.sss'
@import 'blocks/how.sss'
@import 'blocks/reviews.sss'
@import 'blocks/guarantee.sss'
@import 'blocks/form.sss'

@import 'blocks/footer.sss'