section.for
  .container
    h4.for__title Задумываешься о том,<br> чтобы изменить свою жизнь?<br> Скорее всего да, если ты здесь!
    p.for__subtitle Перемены не происходят с годами,<br> они происходят здесь и сейчас!

    .for__list-title Для кого <span class='uppercase'>марафон</span>
    .for__list
      each item in vfor
        .for__list-item
          .for__list-item-desc= item

