section.guarantee
  .guarantee__title ГАРАНТИЯ РЕЗУЛЬТАТА

  .guarantee__text Мы даём 100% гарантию, что если в течение 30 дней с момента старта онлайн-марафона ты не получишь от него удовлетворение (при условии выполнения всех заданий) – мы вернем деньги!

  .guarantee__text-small * Гарантия распространяется на версию с поддержкой тренера.

  .guarantee__arrow.guarantee__arrow--1
  .guarantee__arrow.guarantee__arrow--2
  .guarantee__arrow.guarantee__arrow--3
  .guarantee__arrow.guarantee__arrow--4