section.hero
  .container
    .hero__text
      h1.hero__title МАРАФОН
      h2.hero__subtitle Как за <b>28 дней</b><br>создать жизнь своей мечты
      h3.hero__skill Ты научишься управлять своей жизнью: <br>выявишь истинные цели и начнешь их достигать.
      h4.hero__effective Самый эффективный марафон по достижению целей
      a(href='#!').hero__btn.btn.btn участвовать

  .hero__rec-y.hero__rec
  .hero__rec-w.hero__rec
  .hero__rec-p.hero__rec

  .hero__dots-y.hero__dots
  .hero__dots-w.hero__dots