section.how
  .how__title КАК ПРОХОДИТ МАРАФОН:

  .how__container.container
    .how__photos
      each i in [1,2,3]
        .how__photo-wrap
          img.how__photo(src='img/how/photo-' + i + '.jpg' alt='photo')

    .how__steps
      .how__step Марафон представляет собой последовательную программу  в закрытой группе в сети vk.com c возможным индивидуальным сопровождением тренера. Продолжительность— 28 дней.

      .how__step Раз в неделю урок в видео-формате, в котором содержатся  аспекты теории, примеры и практическое применение. Плюс основное домашнее задание.

      .how__step Раз в три дня вам будет приходить дополнительное задание в аудио-формате, в котором содержится описание и практическое упражнение.

      .how__step Раз в три дня вы составляете отчет с выполненным заданием. В пакете с сопровождением тренера, участнику приходит ответ с комментариями и рекомендациями.



