section.plans
  .plans__title Выберите свой вариант участия

  .plans__container.container
    article.plans__item
      .plans__wrap
        .plans__name Пакет «Я сама»

        .plans__content
          .plans__text Доступ к видео и аудио материалам курса:

          ul.plans__list
            li.plans__list-item 4 видео по 1,5 часа
            li.plans__list-item 4 основных домашних задания для самостоятельной проработки
            li.plans__list-item 8 аудио заданий
            li.plans__list-item Общий чат участниц для взаимной поддержки и обсуждения

        .plans__price 4990 руб.

        .plans__btn
          .btn.btn--secondary.btn--small участвовать

    article.plans__item
      .plans__wrap
        .plans__name Пакет «Я и тренер»

        .plans__content
          .plans__text Доступ к видео и аудио материалам курса:

          ul.plans__list
            li.plans__list-item 4 видео по 1,5 часа
            li.plans__list-item 4 основных домашних задания для самостоятельной проработки
            li.plans__list-item 8 аудио заданий
            li.plans__list-item Общий чат участниц для взаимной поддержки и обсуждения
            li.plans__list-item Закрытый личный чат участниц со мной
            li.plans__list-item Моя индивидуальная «обратная связь» по домашним заданиям

        .plans__price 6990 руб.

        .plans__btn
          .btn.btn--secondary.btn--small участвовать











