section.program
  .program__title ПРОГРАММА:

  .program__container
    article.program__item
      .program__name Целеполагание

      .program__params
        .program__param 14 дней
        .program__param 2 видео
        .program__param 6 заданий

      ul.program__list
        li.program__list-item Мечты – цели, мечты – желания. Проблемы и задачи. Что у тебя?
        li.program__list-item Темная сторона - Знакомься,  «Ждун-прокрастинатор»
        li.program__list-item Каждый может преуспеть, что приносит удовольствие лично тебе?
        li.program__list-item Скрининг целей, выявление истинных
        li.program__list-item Секреты правильной формулировки и постановки целей
        li.program__list-item Осознанность и самомотивация
        li.program__list-item Тяга к ложной гармонии
        li.program__list-item Авторитеты – каждый человек может повторить успех другого
        li.program__list-item Игры разума и подсознания: вторичные выгоды и психологические барьеры
        li.program__list-item Болезнь «постоянной оптимизации»
        li.program__list-item Расстаёмся со старым образом жизни и мышления
        li.program__list-item Утверждение цели

    article.program__item
      .program__name Целедостижение

      .program__params
        .program__param 14 дней
        .program__param 2 видео
        .program__param 6 заданий

      ul.program__list
        li.program__list-item Основы достижения целей: реальность и возможности
        li.program__list-item Корректировка плана достижения в зависимости от обстоятельств: я ленюсь и я боюсь
        li.program__list-item Глубинная проработка желаний, ценностей и потребностей
        li.program__list-item Формула твоей личной эффективности
        li.program__list-item Доступ к инструменту НЛП для конкретизации цели
        li.program__list-item Выявляем возможности и ресурсы для личностного роста
        li.program__list-item Берем ответственность и подписываем договор с самим собой
        li.program__list-item Составление плана
        li.program__list-item Перевод целей в задачи
        li.program__list-item Старт реализации

    article.program__item
      .program__name Результат:

      .program__text Я точно понимаю, что хочу и знаю, как мне этого достичь.












