include inc/head.pug
include inc/header.pug

include blocks/hero.pug
include blocks/for.pug
include blocks/after.pug
include blocks/coach.pug
include blocks/program.pug
include blocks/plans.pug
include blocks/how.pug
include blocks/reviews.pug
include blocks/guarantee.pug

include inc/footer.pug
include inc/foot.pug